Hi <%= firstName %> <%= lastName %>,
You have been added as Manager in <%= societyName %> Society.
Please click <a href="<%= resetPasswordLink %>">here</a> to set your password.
You can log in to the <a href="<%= loginLink %>"> Society</a> once you set your password.
Fountlab Team